# Analysis of Benchmarking data
## Author: Rohan Singh

## Imports

In [13]:
# Data Manipulation imports
import pandas as pd
import numpy as np

# Data Analysis imports
import statistics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

# Graphing imports
import plotly.express as px
import matplotlib.pyplot as plt

## Data Preprocessing

In [58]:
df_main = pd.read_csv("/Users/rohansingh/Downloads/Benchmark Data - Sheet1.csv")

In [60]:
df_main.head()

,"N = 10, Sorted Array",Unnamed: 1,Unnamed: 2,"N=20, Sorted Ascending",Unnamed: 4,Unnamed: 5,"N=50, Sorted",Unnamed: 7,Unnamed: 8,N = 100,...,Unnamed: 16,Unnamed: 17,Results for arrays of size 1000,Unnamed: 19,Unnamed: 20,Results for arrays of size 2000,Unnamed: 22,Unnamed: 23,Results for arrays of size 5000,Unnamed: 25
0,Sort Type,NanoSeconds,NaN,Sort Type,NanoSeconds,NaN,Sort Type,NanoSeconds,NaN,Sorted array,...,NaN,NaN,Sort Type,NanoSeconds,NaN,Ascending,NanoSeconds,NaN,Sorted array,NaN
1,Insertion,4337,NaN,Insertion Sort time,9420,NaN,Insertion Sort time,41040,NaN,Insertion Sort time,...,2861000,NaN,Insertion Sort time,4993020,NaN,Insertion Sort time,33779843,NaN,Insertion Sort time,141400421.0
2,Bubble,3161,NaN,Bubble Sort time,6875,NaN,Bubble Sort time,30133,NaN,Bubble Sort time,...,2738139,NaN,Bubble Sort time,29860762,NaN,Bubble Sort time,34345405,NaN,Bubble Sort time,33514767.0
3,Shell,4364,NaN,Shell Sort time,5798,NaN,Shell Sort time,10607,NaN,Shell Sort time,...,149880,NaN,Shell Sort time,304701,NaN,Shell Sort time,880375,NaN,Shell Sort time,2182743.0
4,Quick,8149,NaN,Quick Sort time,12970,NaN,Quick Sort time,21551,NaN,Quick Sort time,...,200570,NaN,Quick Sort time,400788,NaN,Quick Sort time,843111,NaN,Quick Sort time,1961791.0

In [6]:
temp = df_main.T[1]

N = 10, Sorted Array                         Insertion
Unnamed: 1                                        4337
Unnamed: 2                                         NaN
N=20, Sorted Ascending             Insertion Sort time
Unnamed: 4                                        9420
Unnamed: 5                                         NaN
N=50, Sorted                       Insertion Sort time
Unnamed: 7                                       41040
Unnamed: 8                                         NaN
N = 100                            Insertion Sort time
Unnamed: 10                                   178998.0
Unnamed: 11                                        NaN
Results for arrays of size 200     Insertion Sort time
Unnamed: 13                                   621841.0
Unnamed: 14                                        NaN
Results for arrays of size 500     Insertion Sort time
Unnamed: 16                                    2861000
Unnamed: 17                                        NaN
Results for arrays of size 1000    Insertion Sort time
Unnamed: 19                                    4993020
Unnamed: 20                                        NaN
Results for arrays of size 2000    Insertion Sort time
Unnamed: 22                                   33779843
Unnamed: 23                                        NaN
Results for arrays of size 5000    Insertion Sort time
Unnamed: 25                                141400421.0
Name: 1, dtype: object

In [9]:
temp = df_main.T[pd.to_numeric(df_main.T[1], errors='coerce').notnull()]
temp[1]

Unnamed: 1            4337
Unnamed: 4            9420
Unnamed: 7           41040
Unnamed: 10       178998.0
Unnamed: 13       621841.0
Unnamed: 16        2861000
Unnamed: 19        4993020
Unnamed: 22       33779843
Unnamed: 25    141400421.0
Name: 1, dtype: object

In [66]:
#statistics.mean(temp[1].to_list())
type(float(temp[1].iloc[0]))

float

In [11]:
x = np.array([10,20,50,100,200,500,1000,2000,5000]).reshape(-1,1)
y =  temp[1].to_numpy().reshape(-1,1)

In [55]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

## Data Analysis using Linear Regression

In [56]:


regr = LinearRegression()

regr.fit(x_train, y_train)

regr.score(x_test,y_test)

0.5272676535110761

## Data Analysis using Polynomial Regression

In [57]:
poly = PolynomialFeatures(degree=2, include_bias=False)

poly_features = poly.fit_transform(x_train)

poly_test = poly.fit_transform(x_test)

poly_reg_model = LinearRegression()

poly_reg_model.fit(poly_features, y_train)

poly_reg_model.score(poly_test,y_test)

0.8308361386896146