# Rachel EDA Notebook

## Imports

In [363]:
import pandas
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

## Data Extraction
using an appropriate library(s) read the following csv files from the data folder and show the dataframes:
  - atlanta_batting.csv  
  - atlanta_pitching.csv  
  - angels_batting.csv  
  - angels_pitching.csv

In [364]:
atlanta_batting = pandas.read_csv("atlanta_batting.csv").dropna()
atlanta_pitching = pandas.read_csv("atlanta_pitching.csv")
angels_batting = pandas.read_csv("angels_batting.csv")
angels_pitching = pandas.read_csv("angels_pitching.csv")

## Data Exploration

### Win Percentage
Using the pandas library explore all 4 datasets and add an additional column for win percentage.

In [365]:
atlanta_batting["WIN%"] = atlanta_batting["W"] / (atlanta_batting["W"] + atlanta_batting["L"])
atlanta_pitching["WIN%"] = atlanta_pitching["W"] / (atlanta_pitching["W"] + atlanta_pitching["L"])
angels_batting["WIN%"] = angels_batting["W"] / (angels_batting["W"] + angels_batting["L"])
angels_pitching["WIN%"] = angels_pitching["W"] / (angels_pitching["W"] + angels_pitching["L"])

### Best Pitching Seasons
Using the pandas library make a sub-dataframe to obtain the pitching stats that both teams had in their top 10 seasons based on win %age

In [366]:
top_tens_pitches = pandas.concat([atlanta_pitching.nlargest(10, "WIN%"), angels_pitching.nlargest(10, "WIN%")])
top_tens_pitches

,Year,Lg,W,L,Finish,RA/G,ERA,G,CG,tSho,...,BB,SO,WHIP,SO9,HR9,E,DP,Fld%,PAge,WIN%
126,1897,NL,93,39,1,4.93,3.65,135,0.85,0.06,...,2.91,2.44,1.395,2.48,0.29,2.01,0.59,0.951,26.4,0.704545
146,1877,NL,42,18,1,4.31,2.15,61,1.00,0.11,...,0.62,2.90,1.086,2.91,0.08,4.75,0.59,0.889,21.0,0.700000
125,1898,NL,102,47,1,4.04,2.98,152,0.84,0.06,...,3.09,2.84,1.236,2.90,0.25,2.04,0.67,0.950,25.6,0.684564
145,1878,NL,41,19,1,4.02,2.32,60,0.97,0.15,...,0.63,3.07,1.164,3.04,0.10,3.80,0.80,0.914,22.0,0.683333
131,1892,NL,102,48,1,4.27,2.86,152,0.93,0.10,...,3.03,3.38,1.210,3.46,0.28,2.99,0.84,0.929,24.2,0.680000
130,1893,NL,86,43,1,6.07,4.43,131,0.87,0.02,...,3.07,1.93,1.475,1.96,0.51,2.69,0.90,0.936,24.9,0.666667
139,1884,NL,73,38,2,4.03,2.47,116,0.94,0.12,...,1.16,6.40,1.029,6.44,0.26,3.31,0.40,0.922,24.1,0.657658
25,1998,NL East,106,56,1,3.59,3.25,162,0.15,0.14,...,2.88,7.60,1.222,7.71,0.73,0.56,0.86,0.985,29.5,0.654321
0,2023,NL East,50,27,1,4.17,3.85,77,0.01,0.06,...,3.23,9.53,1.286,9.64,1.13,0.58,0.84,0.984,30.0,0.649351
134,1889,NL,83,45,2,4.71,3.36,133,0.91,0.08,...,3.11,3.74,1.342,3.84,0.32,3.11,0.79,0.926,27.3,0.648438
15,2008,AL West,100,62,1,4.30,3.99,162,0.04,0.06,...,2.82,6.83,1.317,6.86,0.99,0.56,0.98,0.985,27.6,0.617284
21,2002,AL West,99,63,2,3.98,3.69,162,0.04,0.09,...,3.14,6.17,1.277,6.19,1.05,0.54,0.93,0.986,30.2,0.611111
9,2014,AL West,98,64,1,3.89,3.58,162,0.02,0.08,...,3.11,8.28,1.221,8.15,0.76,0.51,0.78,0.986,28.4,0.604938
14,2009,AL West,97,65,1,4.70,4.45,162,0.06,0.08,...,3.23,6.56,1.409,6.61,1.12,0.52,1.07,0.986,28.6,0.598765
18,2005,AL West,95,67,1,3.97,3.68,162,0.04,0.07,...,2.73,6.95,1.272,6.92,0.97,0.54,0.86,0.986,28.5,0.586420
16,2007,AL West,94,68,1,4.51,4.23,162,0.03,0.06,...,2.94,7.14,1.364,7.25,0.95,0.62,0.95,0.983,28.4,0.580247
41,1982,AL West,93,69,1,4.14,3.82,162,0.25,0.06,...,2.98,4.49,1.310,4.48,0.76,0.67,1.06,0.983,31.8,0.574074
19,2004,AL West,92,70,1,4.53,4.28,162,0.01,0.07,...,3.10,7.19,1.360,7.20,1.05,0.56,0.78,0.985,29.0,0.567901
37,1986,AL West,92,70,1,4.22,3.84,162,0.18,0.07,...,2.95,5.90,1.260,5.90,0.95,0.66,0.96,0.983,30.3,0.567901
34,1989,AL West,91,71,3,3.57,3.28,162,0.20,0.12,...,2.87,5.54,1.271,5.55,0.70,0.59,1.07,0.985,29.1,0.561728

### Best Batting Seasons
Using the pandas library make a sub-dataframe to obtain the batting stats that both teams had in their top 10 seasons based on win %age

In [367]:
top_tens_bats = pandas.concat([atlanta_batting.nlargest(10, "WIN%"), angels_batting.nlargest(10, "WIN%")])
top_tens_bats

,Year,Lg,W,L,Finish,G,PA,AB,R,H,...,BB,SO,BA,OBP,SLG,OPS,E,DP,Fld%,WIN%
25,1998,NL East,106,56,1,162,38.4,33.85,5.10,9.19,...,3.38,6.56,0.272,0.342,0.453,0.795,0.56,0.86,0.985,0.654321
0,2023,NL East,50,27,1,77,38.4,34.35,5.56,9.30,...,3.45,8.23,0.271,0.341,0.484,0.825,0.58,0.84,0.984,0.649351
30,1993,NL West,104,58,1,162,38.5,34.04,4.73,8.91,...,3.46,5.84,0.262,0.331,0.408,0.739,0.67,0.90,0.983,0.641975
24,1999,NL East,103,59,1,162,39.2,34.38,5.19,9.14,...,3.75,5.94,0.266,0.341,0.436,0.777,0.69,0.78,0.982,0.635802
21,2002,NL East,101,59,1,161,38.7,34.13,4.40,8.87,...,3.47,6.39,0.260,0.331,0.409,0.740,0.71,1.06,0.982,0.631250
28,1995,NL East,90,54,1,144,37.9,33.43,4.48,8.35,...,3.61,6.48,0.250,0.326,0.409,0.735,0.69,0.78,0.982,0.625000
1,2022,NL East,101,61,1,162,37.5,34.01,4.87,8.60,...,2.90,9.25,0.253,0.317,0.443,0.760,0.48,0.68,0.987,0.623457
20,2003,NL East,101,61,1,162,39.4,35.00,5.60,9.93,...,3.36,5.76,0.284,0.349,0.475,0.824,0.75,1.02,0.981,0.623457
26,1997,NL East,101,61,1,162,39.0,34.12,4.88,9.20,...,3.69,7.16,0.270,0.343,0.426,0.769,0.70,0.84,0.982,0.623457
66,1957,NL,95,59,1,155,39.0,35.21,4.98,9.48,...,2.97,4.70,0.269,0.327,0.442,0.769,0.77,1.12,0.981,0.616883
15,2008,AL West,100,62,1,162,38.0,34.20,4.72,9.17,...,2.97,6.09,0.268,0.330,0.413,0.743,0.56,0.98,0.985,0.617284
21,2002,AL West,99,63,2,162,39.1,35.05,5.25,9.90,...,2.85,4.97,0.282,0.341,0.433,0.774,0.54,0.93,0.986,0.611111
9,2014,AL West,98,64,1,162,38.8,34.89,4.77,9.04,...,3.04,7.81,0.259,0.322,0.406,0.728,0.51,0.78,0.986,0.604938
14,2009,AL West,97,65,1,162,38.9,34.70,5.45,9.90,...,3.38,6.51,0.285,0.350,0.441,0.791,0.52,1.07,0.986,0.598765
18,2005,AL West,95,67,1,162,38.2,34.72,4.70,9.38,...,2.76,5.23,0.270,0.325,0.409,0.734,0.54,0.86,0.986,0.586420
16,2007,AL West,94,68,1,162,38.3,34.28,5.07,9.74,...,3.13,5.45,0.284,0.345,0.417,0.762,0.62,0.95,0.983,0.580247
41,1982,AL West,93,69,1,162,39.2,34.15,5.02,9.37,...,3.78,4.69,0.274,0.347,0.433,0.780,0.67,1.06,0.983,0.574074
19,2004,AL West,92,70,1,162,38.9,35.03,5.16,9.90,...,2.78,5.81,0.282,0.341,0.429,0.770,0.56,0.78,0.985,0.567901
37,1986,AL West,92,70,1,162,38.9,33.54,4.85,8.56,...,4.14,5.31,0.255,0.338,0.404,0.742,0.66,0.96,0.983,0.567901
34,1989,AL West,91,71,3,162,37.7,34.23,4.13,8.78,...,2.65,6.24,0.256,0.311,0.386,0.697,0.59,1.07,0.985,0.561728

## Data Analysis

### Atlanta Win Prediction using batting stats
Train a model to predict the Win %age of a season for the braves using their batting stats

In [368]:
x = atlanta_batting.iloc[:,-22:-1].to_numpy()
y = atlanta_batting["WIN%"].to_numpy().reshape(-1, 1)

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.35)
linearline = LinearRegression()
linearline.fit(x_train,y_train)
linearline.score(x_test, y_test)

0.8187366662849521

### Atlanta Win Prediction using pitching stats
Train a model to predict the Win %age of a season for the braves using their pitching stats

In [369]:
x = angels_pitching.iloc[:,-22:-1].to_numpy()
y = angels_pitching["WIN%"].to_numpy().reshape(-1, 1)
x
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.35)
linearline = LinearRegression()
linearline.fit(x_train,y_train)
linearline.score(x_test, y_test)

0.6076263742602306

### Angles Win Prediction using batting stats
Train a model to predict the Win %age of a season for the angels using their batting stats

In [370]:
x = angels_batting.iloc[:,-22:-1].to_numpy()
y = angels_batting["WIN%"].to_numpy().reshape(-1, 1)

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.35)
linearline = LinearRegression()
linearline.fit(x_train,y_train)
linearline.score(x_test, y_test)

0.24419720497792496

### Angles Win Prediction using batting stats
Train a model to predict the Win %age of a season for the angels using their batting stats

In [371]:
x = angels_pitching.iloc[:,-22:-1].to_numpy()
y = angels_pitching["WIN%"].to_numpy().reshape(-1, 1)

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.35)
linearline = LinearRegression()
linearline.fit(x_train,y_train)
linearline.score(x_test, y_test)

-5.070666689500129

## Advanced EDA

### Fine Tuned Atlanta Batting Model
Find the 3 most important features amongst the batting stats for accurate prediction of the win %age for the Atlanta Braves

In [372]:
x = atlanta_batting.iloc[:,-22:-1]
y = atlanta_batting["WIN%"].to_numpy().reshape(-1, 1)
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.35)

model = LinearRegression()
model.fit(x_train, y_train)
importances = pandas.DataFrame(data={
    'Attribute': x_train.columns,
    'Importance': model.coef_[0]
})
importances = importances.sort_values(by='Importance', ascending=False)
importances[0:3]

   Attribute  Importance
20      Fld%   23.554430
15       OBP    4.996623
14        BA    3.749608

### Fine Tuned Atlanta Pitching Model
Find the 3 most important features amongst the pitching stats for accurate prediction of the win %age for the Atlanta Braves

In [373]:
x = atlanta_pitching.iloc[:,-22:-1]
y = atlanta_pitching["WIN%"].to_numpy().reshape(-1, 1)
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.35)

model = LinearRegression()
model.fit(x_train, y_train)
importances = pandas.DataFrame(data={
    'Attribute': x_train.columns,
    'Importance': model.coef_[0]
})
importances = importances.sort_values(by='Importance', ascending=False)
importances[0:3]

   Attribute  Importance
16       HR9    1.776437
5       tSho    0.435277
6         SV    0.281667

### Fine Tuned Angels Batting Model
Find the 3 most important features amongst the batting stats for accurate prediction of the win %age for the Angels

In [374]:
x = angels_batting.iloc[:,-22:-1]
y = angels_batting["WIN%"].to_numpy().reshape(-1, 1)
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.35)

model = LinearRegression()
model.fit(x_train, y_train)
importances = pandas.DataFrame(data={
    'Attribute': x_train.columns,
    'Importance': model.coef_[0]
})
importances = importances.sort_values(by='Importance', ascending=False)
importances[0:3]

   Attribute  Importance
20      Fld%   27.020417
16       SLG    4.171351
17       OPS    1.557908

### Fine Tuned Angels Pitching Model
Find the 3 most important features amongst the pitching stats for accurate prediction of the win %age for the Angels

In [375]:
x = angels_pitching.iloc[:,-22:-1]
y = angels_pitching["WIN%"].to_numpy().reshape(-1, 1)
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.35)

model = LinearRegression()
model.fit(x_train, y_train)
importances = pandas.DataFrame(data={
    'Attribute': x_train.columns,
    'Importance': model.coef_[0]
})
importances = importances.sort_values(by='Importance', ascending=False)
importances[0:3]

   Attribute  Importance
19      Fld%   11.102245
14      WHIP    3.290547
11        HR    0.956453